<% include header %>
    <link rel="stylesheet" href="/static/vendor/css/blog.css">
    <!--<link rel="stylesheet" href="//at.alicdn.com/t/font_298842_24vw8ohp6ekx1or.css">-->
  </head>
  <body>
    <div class="blog__wrap">
      <% include title %>
      <% include aside %>
      <div class="blog__wrap-main com__cmp-ct">
        <ul id="blog-list" class="blog__wrap-list artical--animate-before">
          <% for (var i = 0, len = articals.length; i < len; i++) { %>
            <li>
              <h3 class="blog__wrap-list_title" data-href="<%= '/artical/' + articals[i].key_time.replace(/-/g, '/') + '/' + articals[i].title %>">
                <% if (articals[i].top) { %>
                  <span class="iconfont icon-label"></span>
                <% } %>
                <a href="javascript:;">
                  <%= articals[i].title %>
                </a>
              </h3>
              <div style="text-align: right;"><%= articals[i].readers %></div>
              <div class="blog__wrap-list_time">
                <span>创建 : <%= articals[i].create_time %></span>
                <span>更新 : <%= articals[i].update_time %></span>
              </div>
              <p class="blog__wrap-list_desc"><%= articals[i].description %></p>
            </li>	
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
<script src="/static/vendor/js/blog.js"></script>
