<% include header %>
		<link rel="stylesheet" href="/static/css/home.css">
		<link rel="stylesheet" href="//at.alicdn.com/t/font_298842_24vw8ohp6ekx1or.css">
	</head>
	<body>
		<div class="home__wrap">
			<h1 class="home__wrap-title">
				xiaoYown
				<p class="home__wrap-title_tip">
					简介 : 
					<br>
					默默无闻前端小码农
				</p>
			</h1>
			<div id="spread-box" class="home__wrap-spread">
				<div id="spread-btn" class="home__wrap-spread_btn">
					<span class="iconfont icon-arrow-double-r"></span>
					<span class="iconfont icon-arrow-double-l"></span>
					<span class="iconfont icon-options"></span>
				</div>
				<ul class="home__wrap-spread_list">
					<a href="/home">
						<li class="home__wrap-spread_item">首页</li>
					</a>
					<a href="/journal">
						<li class="home__wrap-spread_item">琐事</li>
					</a>
				</ul>
			</div>
			<ul class="home__wrap-list">
				<% for (var i = 0, len = articals.length; i < len; i++) { %>
					<li>
						<h3 class="home__wrap-list_title">
							<a href="/artical/<%= articals[i].id %>">
								<%= articals[i].title %>
							</a>
						</h3>
						<div class="home__wrap-list_time">
							<span>创建 : <%= articals[i].create_time %></span>
							<span>更新 : <%= articals[i].update_time %></span>
						</div>
						<p class="home__wrap-list_desc"><%= articals[i].description %></p>
					</li>	
				<% } %>
			</ul>
		</div>
	</body>
</html>

<script>
	var isSpread = window.screen.availWidth < 1000

	var box = document.getElementById('spread-box')
	var btn = document.getElementById('spread-btn')

	function spreading (event) {
		if (!!event) {
			event.stopPropagation()
		}
		if (!isSpread) {
			box.setAttribute('class', box.className + ' spreading')
		} else {
			box.setAttribute('class', box.className.replace(/\sspreading/, ''))
		}
		isSpread = !isSpread
	}
	function close () {
		if (isSpread) {
			box.setAttribute('class', box.className.replace(/\sspreading/, ''))
			isSpread = !isSpread
		}
	}
	btn.addEventListener('click', spreading)
	window.addEventListener('click', close)

	spreading()
</script>