<!DOCTYPE html>
<html lang="zh_CN">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="xiaoYown web 前端 node">
    <meta name="description" content="xiaoYown 奋斗在底层的前端小码农">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="baidu-site-verification" content="ChQ2o4EBnT"/>
    <title>图片管理</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_298842_e1jaeqslks5uerk9.css">
    <link rel="stylesheet" href="/static/vendor/css/base.css">
    <link rel="stylesheet" href="/static/vendor/css/image.css">
  </head>
  <body>
    <section class="image__wrap">
      <div id="edit-area" class="image__wrap-container">
        <div class="image__wrap-tools">
          <button id="del" class="image__wrap-tool">删除</button>
          <button id="edit" class="image__wrap-tool">编辑</button>
        </div>
        <ul class="image__wrap-folders">
          <% for (var i = 0, len = folders.length; i < len; i++) { %>
            <% if (folders[i].type === 'folder') { %>
              <li class="image__wrap-file">
                <label class="image__wrap-del">
                  <input type="checkbox" data-index="<%= i %>"></input>
                  <i class="iconfont icon-sure"></i>
                </label>
                <i class="iconfont icon-folder" onclick="linkFolder(<%= i %>)"></i>
                <span class="image__wrap-f-title"><%= folders[i].name %></span>
              </li>
            <% } %>
          <% } %>
          <li class="image__wrap-file">
            <i id="add-folder" class="iconfont icon-add"></i>
          </li>
        </ul>
        <ul class="image__wrap-images">
          <% for (var i = 0, len = folders.length; i < len; i++) { %>
            <% if (folders[i].type === 'image') { %>
              <li class="image__wrap-image">
                <label class="image__wrap-del">
                  <input type="checkbox" data-index="<%= i %>"></input>
                  <i class="iconfont icon-sure"></i>
                </label>
                <div class="image__wrap-image_item">
                  <img src="<%= url_origin + folders[i].src %>" alt="<%= folders[i].name %>">
                </div>
                <h4 class="image__wrap-image_name"><%= folders[i].name %></h4>
                <h4 class="image__wrap-image_src">
                  <input type="text" value="<%= folders[i].src %>" onfocus="this.select()" readonly>
                  <i class="iconfont icon-document_fill" src-copy></i>
                </h4>
              </li>
            <% } %>
          <% } %>
          <li class="image__wrap-image">
            <label>
              <input id="files" type="file" accept="image/gif, image/jpeg, image/jpg, image/png"/>
              <i class="iconfont icon-add"></i>
              <p id="progress"></p>
              <p id="progressNumber">0</p>
            </label>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
<script src="/static/js/jquery.js"></script>
<script src="/static/vendor/js/image.js"></script>